<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <div class="container">

    <div class="main-content">

    {{>header2}}
     <p id="descabout">Hello, I'm Rahul, a college student with a passion for weather forecasting. I have always been fascinated by the ever-changing nature of the atmosphere and its impact on our daily lives. As an aspiring meteorologist, I constantly seek to deepen my understanding of weather patterns and improve my forecasting skills.
My interest in weather began at a young age when I would spend hours observing clouds, tracking storms, and eagerly watching weather reports. This curiosity led me to pursue a degree in Atmospheric Sciences, where I have gained valuable knowledge about the science behind weather phenomena.</p>
    </div>
   
    {{>footer}}
    </div>
  </body>
</html>