<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
  </head>
  <body>
    <div class="container">

    <div class="main-content">

    {{>header2}}
    <p id="deschelp">How do I search for weather forecasts in my area?</p>
<p id="deschelpans">To search for weather forecasts in your area, simply enter your location in the search bar or use the provided geolocation feature. Our system will then provide you with accurate and personalized weather information for your specific location.</p>

<p id="deschelp">How often are the weather forecasts updated?</p>
<p id="deschelpans">Our weather forecasts are regularly updated to ensure you have the most current and accurate information. The frequency of updates may vary depending on the availability of data and the specific weather conditions. Rest assured, we strive to provide you with the most up-to-date forecasts possible.</p>
    </div>
    {{>footer}}
    </div>
  </body>
</html>